doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Noom
        link(rel="stylesheet", href="https://unpkg.com/mvp.css")
    body
        header
            h1 Noom
        main
            div#welcome
                form
                    input#roomName(placeholder="room name" required, type="text")
                    input#name(placeholder="nickname" required, type="text")
                    button Enter Room
            div#room
                h3
                h4
                ul
                //form#name
                //    input(placeholder="nickname", required, type="text")
                    //button Change
                form#msg
                    input(placeholder="message", required, type="text")
                    button Send
        // ws API는 브라우저에 설치되어 있었지만 socket.io는 아니기 때문에 frontend에 socket.io 설치
        script(src="/socket.io/socket.io.js")
        script(src="/public/app.js")
